<a href="<%= user_question_url(question.author, question )%>">
	<h2>
		<%= question.title %>
	</h2>
</a>
<a href="<%= user_url(question.author)%>">
	<%= question.author.full_name %>
</a>

<%= render 'layouts/topics', :topics => question.topics %>

<p>
	<%= question.body %>
	<a href="<%= edit_question_url(question) %>">
		Edit Question
	</a>
</p>

<% if question.followers.include?(current_user) && question.author != current_user %>
	<% btn_class, btn_content, btn_id = "unfollow btn-danger", "Unfollow Question", "delete" %>
	<%= question.author != current_user %>
<% elsif question.author != current_user %>
	<% btn_class, btn_content, btn_id = "follow btn-info", "Follow Question", "post" %>
<% end %>

<% if btn_class %>
	<button class="btn btn-xs follow-btn <%= btn_class %>" 
					data-id=<%= question.id %>
					id='<%= btn_id %>'
					data-type="question" >
		<%= btn_content %>
  </button>
<% end %>	

<hr>

<% if @answer %>
	<%= render 'layouts/answers', :answers => [ answer ] %>
<% end %>