<div class="row">
	<%= gravatar_for user %>
	<a href="<%= user_url(user)%>"><%= user.full_name %></a>

	<% if user.followers.include?(current_user) %>
		<% btn_class, btn_content, btn_id = "unfollow btn-danger", "Unfollow", "delete" %>
	<% elsif user != current_user %>
		<% btn_class, btn_content, btn_id = "follow btn-info", "Follow", "post" %>
	<% end %>

	<% if btn_class %>
		<button class="btn btn-sm follow-btn <%= btn_class %>" 
						data-id=<%= user.id %>
						id='<%= btn_id %>'
						data-type="user" >

			<%= btn_content %>
	  </button>
	<% end %>
</div>
<div class="row">
	<a href="<%= user_follows_url(user.id, "true") %>">Followers <%= user.followers.count %></a>
	<% user.followers[0..9].each do |follower| %>
		<%= gravatar_for follower, { :size => 25 } %>	
	<% end %>
</div>

<div class="row">
	<a href="<%= user_follows_url(user.id, "false") %>">Following <%= user.people_followed.count %></a>
	<% user.people_followed[0..9].each do |followee| %>
		<%= gravatar_for followee, { :size => 25 } %>	
	<% end %>
	<br>
	<a href="<%= user_questions_url(user) %>">Asked Questions</a>
	<br>
	<a href="<%= user_answers_url(user) %>">Answered Questions</a>
</div>