<!DOCTYPE html>
<html>
	<head>
	  <title>Questiona</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/3.0.3/cyborg/bootstrap.min.css" %>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
		
		<%= csrf_meta_tags %>
  
	</head>
	<body>
		<header>
			<%= render 'layouts/header' %>
		</header>

		<div class="container">
			<div class="row">
				<%= render 'layouts/errors' %>
			</div>
			
			<div class="row">
			  <%= yield %>
		  </div>
		  
		  
		</div>

		<footer class="navbar navbar-static-bottom">
			<hr>			 
		  <%= render 'layouts/footer' %>
		  <%= debug(params) if Rails.env.development? %>
		</footer>
		
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
		<%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" %>
	  <%= javascript_include_tag "application" %>
	  
	</body>
</html>
